{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://www.facturapi.io/v2"
    }
  ],
  "info": {
    "title": "Facturapi",
    "version": "2.0",
    "contact": {
      "name": "Facturapi",
      "url": "https://www.facturapi.io",
      "email": "soporte@facturapi.io"
    },
    "description": "<br />\n<br />\n\nEn esta página enlistamos todos los métodos\ndisponibles en la API de Facturapi, así como\nla referencia completa de los parámetros\nque acepta cada uno. Para ver las propiedades\nanidadas de un objeto o arreglo de objetos,\npuedes hacer clic sobre el nombre del campo y\nexpandirlo.\n\nLa API de Facturapi está diseñada con el\nestándar [REST](https://developer.mozilla.org/en-US/docs/Glossary/REST)\nen mente. Los endpoints de la API están agrupados\npor recursos, tienen URLs predecibles, las respuestas\ntienen formato JSON y usamos códigos HTTP de respuesta,\nautenticación y verbos estándar.\n\nDurante el desarrollo, puedes usar la API de Facturapi en\nambiente Test y las facturas que emitas no se enviarán al SAT ni\ntendrán validez fiscal.\n\nLa llave secreta que utilices para autenticarte\ndeterminará tanto el ambiente en el que se creará la factura\n(Test o Live), así como la organización a utilizar como emisor\nde tu factura, o bien como dueña del recurso que solicites crear.\n\nEnvía `Accept-Language: en` para recibir mensajes de error de Facturapi en inglés,\no `Accept-Language: es` para español (predeterminado). Se admiten variantes regionales\ny prioridades `q`. Los mensajes externos SAT/PAC conservan su idioma original.\nConsulta [Manejo de errores](https://docs.facturapi.io/docs/getting-started/errors)\npara el contrato completo y ejemplos con cada SDK.\n"
  },
  "tags": [
    {
      "name": "tools",
      "x-displayName": "Herramientas"
    },
    {
      "name": "customer",
      "x-displayName": "Clientes"
    },
    {
      "name": "product",
      "x-displayName": "Productos"
    },
    {
      "name": "invoice",
      "x-displayName": "Facturas"
    },
    {
      "name": "receipt",
      "x-displayName": "Recibos"
    },
    {
      "name": "retention",
      "x-displayName": "Retenciones"
    },
    {
      "name": "organization",
      "x-displayName": "Organizaciones"
    },
    {
      "name": "organization_access",
      "x-displayName": "Usuarios y permisos"
    },
    {
      "name": "webhooks",
      "x-displayName": "Webhooks"
    },
    {
      "name": "events",
      "x-displayName": "Eventos",
      "description": "Los eventos ocurren cuando Facturapi realiza una operación\nde manera asíncrona, es decir, fuera del ciclo de vida de\nuna petición a la API.\n\nPara recibir estos eventos en tu servidor, puedes registrar una URL de escucha\ncreando un **Webhook** desde tu dashboard: https://dashboard.facturapi.io/integration/webhooks\n"
    },
    {
      "name": "sat_keys",
      "x-displayName": "Claves de catálogos",
      "description": "Principales catálogos del SAT, incluidos aquí por conveniencia. Puedes consultar estos y más catálogos desde el portal oficial del SAT: http://omawww.sat.gob.mx/tramitesyservicios/Paginas/anexo_20_version3-3.htm\n\n### Forma de pago\n\nClave | Descripción\n:-----:| -----------\n\"01\" | Efectivo\n\"02\" | Cheque nominativo\n\"03\" | Transferencia electrónica de fondos\n\"04\" | Tarjeta de crédito\n\"05\" | Monedero electrónico\n\"06\" | Dinero electrónico\n\"08\" | Vales de despensa\n\"12\" | Dación en pago\n\"13\" | Pago por subrogación\n\"14\" | Pago por consignación\n\"15\" | Condonación\n\"17\" | Compensación\n\"23\" | Novación\n\"24\" | Confusión\n\"25\" | Remisión de deuda\n\"26\" | Prescripción o caducidad\n\"27\" | A satisfacción del acreedor\n\"28\" | Tarjeta de débito\n\"29\" | Tarjeta de servicios\n\"30\" | Aplicación de anticipos\n\"31\" | Intermediario pagos\n\"99\" | Por definir\n\n### Método de pago\n\nClave | Descripción\n:-----:| -----------\n\"PUE\" | Pago en una sola exhibición (de contado).\n\"PPD\" | Pago en parcialidades o diferido (total o parcialmente a crédito). Requiere expedir un comprobante de pago cuando se reciba un pago subsecuente.\n\n### Uso CFDI\n\nClave | Descripción | Régimen Fiscal \n:-----:| ----------- | -----------\n\"G01\" | Adquisición de mercancías. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625,626\n\"G02\" | Devoluciones, descuentos o bonificaciones. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625,626\n\"G03\" | Gastos en general. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I01\" | Construcciones. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I02\" | Mobiliario y equipo de oficina por inversiones. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I03\" | Equipo de transporte. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I04\" | Equipo de computo y accesorios. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I05\" | Dados, troqueles, moldes, matrices y herramental. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I06\" | Comunicaciones telefónicas. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I07\" | Comunicaciones satelitales. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I08\" | Otra maquinaria y equipo. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"D01\" | Honorarios médicos, dentales y gastos hospitalarios. | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D02\" | Gastos médicos por incapacidad o discapacidad. | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D03\" | Gastos funerales. | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D04\" | Donativos. | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D05\" | Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación). | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D06\" | Aportaciones voluntarias al SAR. | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D07\" | Primas por seguros de gastos médicos. | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D08\" | Gastos de transportación escolar obligatoria. | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D09\" | Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones. | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D10\" | Pagos por servicios educativos (colegiaturas). | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"S01\" | Sin efectos fiscales.  | 601, 603, 605, 606, 608, 610, 611, 612, 614, 616, 620, 621, 622, 623, 624, 607, 615, 625, 626\n\"CP01\" | Pagos |  601, 603, 605, 606, 608, 610, 611, 612, 614, 616, 620, 621, 622, 623, 624, 607, 615, 625, 626\n\"CN01\" | Nómina | 605\n\n### Catálogos Hidrocarburos Petrolíferos\n\nClave de permiso | Descripción\n:-----:| -----------\n\"PER01\" | Expendio en estaciones de servicio de petrolíferos\n\"PER02\" | Comercialización\n\"PER03\" | Distribución por otros medios distintos a ducto\n\"PER04\" | Expendio en estaciones de servicio multimodal de petrolíferos\n\"PER05\" | Expendio en estaciones de servicio de petrolíferos\n\"PER06\" | Comercialización\n\"PER07\" | Distribución por otros medios distintos a ducto\n\"PER08\" | Expendio en estaciones de servicio multimodal de petrolíferos\n\"PER09\" | Comercialización\n\"PER10\" | Comercialización\n\"PER11\" | Comercialización\n\nClave HYP | Descripción\n:-----:| -----------\n\"15101514\" | Gasolina\n\"15101515\" | Diesel\n\"15101505\" | Combustibles para barco\n\nSubproducto HYP | Descripción\n:-----:| -----------\n\"SP16\" | Gasolina regular menor a 91 octanos\n\"SP17\" | Gasolina premium mayor o igual a 91 octanos\n\"SP18\" | Diésel automotriz\n\"SP19\" | Diésel marino\n\"SP22\" | IFO380\n\"SP23\" | Diésel industrial\n\"SP24\" | Diésel de Ultra Bajo Azufre (DUBA)\n\"SP25\" | Diésel agrícola\n\"SP48\" | Gasóleo doméstico\n\n### Relación entre facturas\n\nClave | Descripción\n:-----:| -----------\n\"01\" | Nota de crédito de los documentos relacionados\n\"02\" | Nota de débito de los documentos relacionados\n\"03\" | Devolución de mercancía sobre facturas o traslados previos\n\"04\" | Sustitución de los CFDI previos\n\"05\" | Traslados de mercancias facturados previamente\n\"06\" | Factura generada por los traslados previos\n\"07\" | CFDI por aplicación de anticipo\n\"08\" | Factura generada por pagos en parcialidades\n\"09\" | Factura generada por pagos diferidos\n\n### Régimen Fiscal\n\nClave | Descripción\n:-----:| -----------\n\"601\" |\tGeneral de Ley Personas Morales\n\"603\" |\tPersonas Morales con Fines no Lucrativos\n\"605\" |\tSueldos y Salarios e Ingresos Asimilados a Salarios\n\"606\" |\tArrendamiento\n\"608\" |\tDemás ingresos\n\"609\" |\tConsolidación\n\"610\" |\tResidentes en el Extranjero sin Establecimiento Permanente en México\n\"611\" |\tIngresos por Dividendos (socios y accionistas)\n\"612\" |\tPersonas Físicas con Actividades Empresariales y Profesionales\n\"614\" |\tIngresos por intereses\n\"616\" |\tSin obligaciones fiscales\n\"620\" |\tSociedades Cooperativas de Producción que optan por diferir sus ingresos\n\"621\" |\tIncorporación Fiscal\n\"622\" |\tActividades Agrícolas, Ganaderas, Silvícolas y Pesqueras\n\"623\" |\tOpcional para Grupos de Sociedades\n\"624\" |\tCoordinados\n\"628\" |\tHidrocarburos\n\"607\" |\tRégimen de Enajenación o Adquisición de Bienes\n\"629\" |\tDe los Regímenes Fiscales Preferentes y de las Empresas Multinacionales\n\"630\" |\tEnajenación de acciones en bolsa de valores\n\"615\" |\tRégimen de los ingresos por obtención de premios\n\"625\" |\tRégimen de las Actividades Empresariales con ingresos a través de Plataformas Tecnológicas\n\"626\" | Régimen Simplificado de Confianza\n\n### Meses y bimestres\n\nClave | Descripción\n:-----:| -----------\n01 | Enero\n02 | Febrero\n03 | Marzo\n04 | Abril\n05 | Mayo\n06 | Junio\n07 | Julio\n08 | Agosto\n09 | Septiembre\n10 | Octubre\n11 | Noviembre\n12 | Diciembre\n13 | Enero-Febrero\n14 | Marzo-Abril\n15 | Mayo-Junio\n16 | Julio-Agosto\n17 | Septiembre-Octubre\n18 | Noviembre-Diciembre\n\n### Tipo de Contrato\n\nClave | Descripción\n:-----:| -----------\n\"01\" | Contrato de trabajo por tiempo indeterminado\n\"02\" | Contrato de trabajo para obra determinada\n\"03\" | Contrato de trabajo por tiempo determinado\n\"04\" | Contrato de trabajo por temporada\n\"05\" | Contrato de trabajo sujeto a prueba\n\"06\" | Contrato de trabajo con capacitación inicial\n\"07\" | Modalidad de contratación por pago de hora laborada\n\"08\" | Modalidad de trabajo por comisión laboral\n\"09\" | Modalidades de contratación donde no existe relación de trabajo\n\"10\" | Jubilación, pensión, retiro.\n\"99\" | Otro contrato\n\n### Tipo de Jornada\n\nClave | Descripción\n:-----:| -----------\n\"01\" | Diurna\n\"02\" | Nocturna\n\"03\" | Mixta\n\"04\" | Por hora\n\"05\" | Reducida\n\"06\" | Continuada\n\"07\" | Partida\n\"08\" | Por turnos\n\"99\" | Otra Jornada\n\n### Tipo de Régimen\n\nClave | Descripción\n:-----:| -----------\n\"02\" | Sueldos (Incluye ingresos señalados en la fracción I del artículo 94 de LISR)\n\"03\" | Jubilados\n\"04\" | Pensionados\n\"05\" | Asimilados Miembros Sociedades Cooperativas Produccion\n\"06\" | Asimilados Integrantes Sociedades Asociaciones Civiles\n\"07\" | Asimilados Miembros consejos\n\"08\" | Asimilados comisionistas\n\"09\" | Asimilados Honorarios\n\"10\" | Asimilados acciones\n\"11\" | Asimilados otros\n\"12\" | Jubilados o Pensionados\n\"13\" | Indemnización o Separación\n\"99\" | Otro Regimen\n\n### Riesgo del Puesto\n\nClave | Descripción\n:-----:| -----------\n\"1\" | Clase I\n\"2\" | Clase II\n\"3\" | Clase III\n\"4\" | Clase IV\n\"5\" | Clase V\n\"99\" | No aplica\n\n### Periodicidad del Pago\n\nClave | Descripción\n:-----:| -----------\n\"01\" | Diario\n\"02\" | Semanal\n\"03\" | Catorcenal\n\"04\" | Quincenal\n\"05\" | Mensual\n\"06\" | Bimestral\n\"07\" | Unidad obra\n\"08\" | Comisión\n\"09\" | Precio alzado\n\"10\" | Decenal\n\"99\" | Otra Periodicidad\n\n### Tipo de Percepción\n\nClave | Descripción\n:-----:| -----------\n\"001\" | Sueldos, Salarios  Rayas y Jornales\n\"002\" | Gratificación Anual (Aguinaldo)\n\"003\" | Participación de los Trabajadores en las Utilidades PTU\n\"004\" | Reembolso de Gastos Médicos Dentales y Hospitalarios\n\"005\" | Fondo de Ahorro\n\"006\" | Caja de ahorro\n\"009\" | Contribuciones a Cargo del Trabajador Pagadas por el Patrón\n\"010\" | Premios por puntualidad\n\"011\" | Prima de Seguro de vida\n\"012\" | Seguro de Gastos Médicos Mayores\n\"013\" | Cuotas Sindicales Pagadas por el Patrón\n\"014\" | Subsidios por incapacidad\n\"015\" | Becas para trabajadores y/o hijos\n\"019\" | Horas extra\n\"020\" | Prima dominical\n\"021\" | Prima vacacional\n\"022\" | Prima por antigüedad\n\"023\" | Pagos por separación\n\"024\" | Seguro de retiro\n\"025\" | Indemnizaciones\n\"026\" | Reembolso por funeral\n\"027\" | Cuotas de seguridad social pagadas por el patrón\n\"028\" | Comisiones\n\"029\" | Vales de despensa\n\"030\" | Vales de restaurante\n\"031\" | Vales de gasolina\n\"032\" | Vales de ropa\n\"033\" | Ayuda para renta\n\"034\" | Ayuda para artículos escolares\n\"035\" | Ayuda para anteojos\n\"036\" | Ayuda para transporte\n\"037\" | Ayuda para gastos de funeral\n\"038\" | Otros ingresos por salarios\n\"039\" | Jubilaciones, pensiones o haberes de retiro\n\"044\" | Jubilaciones, pensiones o haberes de retiro en parcialidades\n\"045\" | Ingresos en acciones o títulos valor que representan bienes\n\"046\" | Ingresos asimilados a salarios\n\"047\" | Alimentación diferentes a los establecidos en el Art 94 último párrafo LISR\n\"048\" | Habitación\n\"049\" | Premios por asistencia\n\"050\" | Viáticos\n\"051\" | Pagos por gratificaciones, primas, compensaciones, recompensas u otros en parcialidades\n\"052\" | Pagos por jubilación en parcialidades derivados de una resolución judicial\n\"053\" | Pagos por jubilación en una sola exhibición derivados de la ejecución de una resolución judicial\n\"054\" | Días de descanso laborados\n\"055\" | Días de descanso obligatorios laborados\n\"056\" | Previsión social, Art 93 fracciones VIII y IX\n\n### Tipo de Horas\n\nClave | Descripción\n:-----:| -----------\n\"01\" | Dobles\n\"02\" | Triples\n\"03\" | Simples\n\n### Tipo de Deducción\n\nClave | Descripción\n:-----:| -----------\n\"001\" | Seguridad social\n\"002\" | ISR\n\"003\" | Aportaciones a retiro, cesantía en edad avanzada y vejez.\n\"004\" | Otros\n\"005\" | Aportaciones a Fondo de vivienda\n\"006\" | Descuento por incapacidad\n\"007\" | Pensión alimenticia\n\"008\" | Renta\n\"009\" | Préstamos provenientes del Fondo Nacional de la Vivienda para los Trabajadores\n\"010\" | Pago por crédito de vivienda\n\"011\" | Pago de abonos INFONACOT\n\"012\" | Anticipo de salarios\n\"013\" | Pagos hechos con exceso al trabajador\n\"014\" | Errores\n\"015\" | Pérdidas\n\"016\" | Averías\n\"017\" | Adquisición de artículos producidos por la empresa o establecimiento\n\"018\" | Cuotas para la constitución y fomento de sociedades cooperativas y de cajas de ahorro\n\"019\" | Cuotas sindicales\n\"020\" | Ausencia (Ausentismo)\n\"021\" | Cuotas obrero patronales\n\"022\" | Impuestos Locales\n\"023\" | Aportaciones voluntarias\n\"024\" | Ajuste en Gratificación Anual (Aguinaldo) Exento\n\"025\" | Ajuste en Gratificación Anual (Aguinaldo) Gravado\n\"026\" | Ajuste en Participación de los Trabajadores en las Utilidades PTU Exento\n\"027\" | Ajuste en Participación de los Trabajadores en las Utilidades PTU Gravado\n\"028\" | Ajuste en Reembolso de Gastos Médicos Dentales y Hospitalarios Exento\n\"029\" | Ajuste en Fondo de ahorro Exento\n\"030\" | Ajuste en Caja de ahorro Exento\n\"031\" | Ajuste en Contribuciones a Cargo del Trabajador Pagadas por el Patrón Exento\n\"032\" | Ajuste en Premios por puntualidad Gravado\n\"033\" | Ajuste en Prima de Seguro de vida Exento\n\"034\" | Ajuste en Seguro de Gastos Médicos Mayores Exento\n\"035\" | Ajuste en Cuotas Sindicales Pagadas por el Patrón Exento\n\"036\" | Ajuste en Subsidios por incapacidad Exento\n\"037\" | Ajuste en Becas para trabajadores y/o hijos Exento\n\"038\" | Ajuste en Horas extra Exento\n\"039\" | Ajuste en Horas extra Gravado\n\"040\" | Ajuste en Prima dominical Exento\n\"041\" | Ajuste en Prima dominical Gravado\n\"042\" | Ajuste en Prima vacacional Exento\n\"043\" | Ajuste en Prima vacacional Gravado\n\"044\" | Ajuste en Prima por antigüedad Exento\n\"045\" | Ajuste en Prima por antigüedad Gravado\n\"046\" | Ajuste en Pagos por separación Exento\n\"047\" | Ajuste en Pagos por separación Gravado\n\"048\" | Ajuste en Seguro de retiro Exento\n\"049\" | Ajuste en Indemnizaciones Exento\n\"050\" | Ajuste en Indemnizaciones Gravado\n\"051\" | Ajuste en Reembolso por funeral Exento\n\"052\" | Ajuste en Cuotas de seguridad social pagadas por el patrón Exento\n\"053\" | Ajuste en Comisiones Gravado\n\"054\" | Ajuste en Vales de despensa Exento\n\"055\" | Ajuste en Vales de restaurante Exento\n\"056\" | Ajuste en Vales de gasolina Exento\n\"057\" | Ajuste en Vales de ropa Exento\n\"058\" | Ajuste en Ayuda para renta Exento\n\"059\" | Ajuste en Ayuda para artículos escolares Exento\n\"060\" | Ajuste en Ayuda para anteojos Exento\n\"061\" | Ajuste en Ayuda para transporte Exento\n\"062\" | Ajuste en Ayuda para gastos de funeral Exento\n\"063\" | Ajuste en Otros ingresos por salarios Exento\n\"064\" | Ajuste en Otros ingresos por salarios Gravado\n\"065\" | Ajuste en Jubilaciones, pensiones o haberes de retiro en una sola exhibición Exento\n\"066\" | Ajuste en Jubilaciones, pensiones o haberes de retiro en una sola exhibición Gravado\n\"067\" | Ajuste en Pagos por separación Acumulable\n\"068\" | Ajuste en Pagos por separación No acumulable\n\"069\" | Ajuste en Jubilaciones, pensiones o haberes de retiro en parcialidades Exento\n\"070\" | Ajuste en Jubilaciones, pensiones o haberes de retiro en parcialidades Gravado\n\"071\" | Ajuste en Subsidio para el empleo (efectivamente entregado al trabajador)\n\"072\" | Ajuste en Ingresos en acciones o títulos valor que representan bienes Exento\n\"073\" | Ajuste en Ingresos en acciones o títulos valor que representan bienes Gravado\n\"074\" | Ajuste en Alimentación Exento\n\"075\" | Ajuste en Alimentación Gravado\n\"076\" | Ajuste en Habitación Exento\n\"077\" | Ajuste en Habitación Gravado\n\"078\" | Ajuste en Premios por asistencia\n\"079\" | Ajuste en Pagos distintos a los listados\n\"080\" | Ajuste en Viáticos gravados\n\"081\" | Ajuste en Viáticos (entregados al trabajador)\n\"082\" | Ajuste en Fondo de ahorro Gravado\n\"083\" | Ajuste en Caja de ahorro Gravado\n\"084\" | Ajuste en Prima de Seguro de vida Gravado\n\"085\" | Ajuste en Seguro de Gastos Médicos Mayores Gravado\n\"086\" | Ajuste en Subsidios por incapacidad Gravado\n\"087\" | Ajuste en Becas para trabajadores y/o hijos Gravado\n\"088\" | Ajuste en Seguro de retiro Gravado\n\"089\" | Ajuste en Vales de despensa Gravado\n\"090\" | Ajuste en Vales de restaurante Gravado\n\"091\" | Ajuste en Vales de gasolina Gravado\n\"092\" | Ajuste en Vales de ropa Gravado\n\"093\" | Ajuste en Ayuda para renta Gravado\n\"094\" | Ajuste en Ayuda para artículos escolares Gravado\n\"095\" | Ajuste en Ayuda para anteojos Gravado\n\"096\" | Ajuste en Ayuda para transporte Gravado\n\"097\" | Ajuste en Ayuda para gastos de funeral Gravado\n\"098\" | Ajuste a ingresos asimilados a salarios gravados\n\"099\" | Ajuste a ingresos por sueldos y salarios gravados\n\"100\" | Ajuste en Viáticos exentos\n\"101\" | ISR Retenido de ejercicio anterior\n\"102\" | Ajuste a pagos por gratificaciones, primas, compensaciones, recompensas u otros\n\"103\" | Ajuste a pagos en parcialidades derivados de una resolución judicial gravados\n\"104\" | Ajuste a pagos en parcialidades derivados de una resolución judicial exentos\n\"105\" | Ajuste a pagos en una sola exhibición derivados de una resolución judicial gravados\n\"106\" | Ajuste a pagos en una sola exhibición derivados de una resolución judicial exentos\n\"107\" | Ajuste al Subsidio Causado\n\n### Tipo de Otro Pago\n\nClave | Descripción\n:-----:| -----------\n\"001\" | Reintegro de ISR pagado en exceso.\n\"002\" | Subsidio para el empleo (efectivamente entregado al trabajador).\n\"003\" | Viáticos (entregados al trabajador).\n\"004\" | Aplicación de saldo a favor por compensación anual.\n\"005\" | Reintegro de ISR retenido en exceso de ejercicio anterior\n\"006\" | Alimentos en bienes (Servicios de comedor y comida).\n\"007\" | ISR ajustado por subsidio.\n\"008\" | Subsidio efectivamente entregado que no correspondía.\n\"009\" | Reembolso de descuentos efectuados para el crédito de vivienda.\n\"999\" | Pagos distintos a los listados.\n\n### Tipo de Incapacidad\n\nClave | Descripción\n:-----:| -----------\n\"01\" | Riesgo de trabajo.\n\"02\" | Enfermedad en general.\n\"03\" | Maternidad.\n\"04\" | Licencia por cuidados médicos de hijos diagnosticados con cáncer.\n\n### Clave de retención\n\nClave | Descripción\n:-----:| -----------\n\"01\" | Servicios profesionales.\n\"02\" | Regalías por derechos de autor.\n\"03\" | Autotransporte terrestre de carga.\n\"04\" | Servicios prestados por comisionistas.\n\"05\" | Arrendamiento.\n\"06\" | Enajenación de acciones.\n\"07\" | Enajenación de bienes objeto de la LIEPS, a través de mediadores, agentes, representantes, corredores, consignatarios o distribuidores.\n\"08\" | Enajenación de bienes inmuebles consignada en escritura pública.\n\"09\" | Enajenación de otros bienes, no consignada en escritura pública.\n\"10\" | Adquisición de desperdicios industriales.\n\"11\" | Adquisición de bienes consignada en escritura pública.\n\"12\" | Adquisición de otros bienes, no consignada en escritura pública.\n\"13\" | Otros retiros de AFORE.\n\"14\" | Dividendos o utilidades distribuidas.\n\"15\" | Remanente distribuible.\n\"16\" | Intereses.\n\"17\" | Arrendamiento en fideicomiso.\n\"18\" | Pagos realizados a favor de residentes en el extranjero.\n\"19\" | Enajenación de acciones u operaciones en bolsa de valores.\n\"20\" | Obtención de premios.\n\"21\" | Fideicomisos que no realizan actividades empresariales.\n\"22\" | Planes personales de retiro.\n\"23\" | Intereses reales deducibles por créditos hipotecarios.\n\"24\" | Operaciones Financieras Derivadas de Capital.\n\"25\" | Otro tipo de retenciones.\n\"26\" | Servicios mediante Plataformas Tecnológicas\n\n### Validez de obligaciones\n\n| Validez | IVA Exento | Tasa 0% | Tasa 8% Fronteriza Norte | Tasa 8% Fronteriza Sur | Tasa 16%\n|:-------:|:----------:|:-------:|:------------------------:|:----------------------:|:--------\n| \"0\" | El contribuyente no está autorizado para emitir facturas | El contribuyente no está autorizado para emitir facturas | El contribuyente no está autorizado para emitir facturas | El contribuyente no está autorizado para emitir facturas | El contribuyente no está autorizado para emitir facturas\n| \"1\" | Sí | Sí | No | No | Sí\n| \"2\" | Sí | Sí | Sí | No | Sí\n| \"3\" | Sí | Sí | No | Sí | Sí\n| \"4\" | Sí | Sí | Sí | Sí | Sí\n\n#### Situación del contribuyente\n\n| Valor | Explicación\n|:-----:|:-----------\n| \"Previsto\" | Vía buzón tributario o notificaciones por estrados, el contribuyente recibe un oficio en el que se establece su situación y se le solicita que demuestre la materialidad de las operaciones facturadas.\n| \"Presunto\" | El contribuyente notificado se considera presunto cuando, en su página web, la autoridad emite sus datos dentro de la relación de los EFOS, es decir, en las listas negras del SAT.\n| \"Desvirtuado\" | En este caso, el contribuyente acusado de operaciones inexistentes ya aportó a la autoridad la documentación e información pertinente para desvirtuar los hechos que llevaron a notificarlo.\n| \"Definitivo\" | En este caso, el EFO no atendió el llamado de la autoridad en el plazo de 15 días, a partir de la última notificación; o bien, no pudo desvirtuar los hechos imputados.\n| \"Sentencia favorable\" | Los contribuyentes EFOS “definitivos” que se inconforman e interponen algún medio de defensa, el cual concluye a su favor, son clasificados en la lista de “sentencia favorable”.\n| \"EFOS de información suprimida\" | En esta categoría, se encuentran los EFOS “presuntos” y “definitivos” que presentaron algún medio de defensa (amparo, juicio de nulidad) y, por lo tanto, un juez ordenó suprimir sus datos de la lista, sin ser eliminados.\n"
    },
    {
      "name": "carta_porte_keys",
      "x-displayName": "Catálogos Carta Porte",
      "description": "Catálogos específicos del complemento Carta Porte 3.1. Útiles para validar y construir correctamente los valores del complemento.\n\nCada tabla incluye: Clave | Descripción (Español oficial)\n\n### Régimenes Aduaneros (c_RegimenAduanero)\n\nClave | Descripción\n:-----:| -----------\nIMD | Importación definitiva\nEXD | Exportación definitiva\nITR | Tránsito interno de mercancías\nITE | Tránsito interno de mercancías para exportación\nETR | Tránsito externo de mercancías\nETE | Tránsito externo de mercancías para exportación\nDFI | Depósito fiscal\nRFE | Recinto fiscalizado estratégico\nRFS | Recinto fiscalizado\nTRA | Tránsito aduanero\n\n### Medio de Transporte (c_MedioTransporte)\n\nClave | Descripción\n:-----:| -----------\n01 | Autotransporte\n02 | Transporte Marítimo\n03 | Transporte Aéreo\n04 | Transporte Ferroviario\n05 | Otro\n\n### Tipo de Estación (c_TipoEstacion)\n\nClave | Descripción\n:-----:| -----------\n01 | Origen Nacional\n02 | Intermedia\n03 | Destino Final Nacional\n\n### Permisos SCT (c_PermisoSCT)\n\nClave | Descripción\n:-----:| -----------\nTPAF01 | Autotransporte Federal de carga general\nTPAF02 | Transporte privado de carga\nTPAF03 | Autotransporte Federal de Carga Especializada de materiales y residuos peligrosos\nTPAF04 | Transporte de automóviles sin rodar en vehículo tipo góndola\nTPAF05 | Transporte de carga de gran peso y/o volumen de hasta 90 toneladas\nTPAF06 | Transporte de carga especializada de gran peso y/o volumen de más 90 toneladas\nTPAF07 | Transporte Privado de materiales y residuos peligrosos\nTPAF08 | Autotransporte internacional de carga de largo recorrido\nTPAF09 | Autotransporte internacional de carga especializada de materiales y residuos peligrosos de largo recorrido\nTPAF10 | Autotransporte Federal de Carga General cuyo ámbito de aplicación comprende la franja fronteriza con Estados Unidos\nTPAF11 | Autotransporte Federal de Carga Especializada cuyo ámbito de aplicación comprende la franja fronteriza con Estados Unidos\nTPAF12 | Servicio auxiliar de arrastre en las vías generales de comunicación\nTPAF13 | Servicio auxiliar de arrastre, arrastre y salvamento, y depósito de vehículos\nTPAF14 | Servicio de paquetería y mensajería en las vías generales de comunicación\nTPAF15 | Transporte especial para tránsito de grúas industriales hasta 90 toneladas\nTPAF16 | Servicio federal para empresas arrendadoras servicio público federal\nTPAF17 | Empresas trasladistas de vehículos nuevos\nTPAF18 | Empresas fabricantes o distribuidoras de vehículos nuevos\nTPAF19 | Autorización para circular con tractocamión doblemente articulado\nTPAF20 | Autotransporte Federal de Carga Especializada de fondos y valores\nTPTM01 | Permiso temporal para navegación de cabotaje\nTPTA01 | Concesión/ autorización servicio regular nacional/internacional (empresas mexicanas)\nTPTA02 | Permiso servicio aéreo regular empresas extranjeras\nTPTA03 | Permiso servicio no regular de fletamento nacional/internacional\nTPTA04 | Permiso servicio no regular de taxi aéreo nacional/internacional\nTPXX00 | Permiso no contemplado en el catálogo\n\n### Sector COFEPRIS (c_SectorCOFEPRIS)\n\nClave | Descripción\n:-----:| -----------\n01 | Medicamento\n02 | Precursores y químicos de uso dual\n03 | Psicotrópicos y estupefacientes\n04 | Sustancias tóxicas\n05 | Plaguicidas y fertilizantes\n\n### Forma Farmacéutica (c_FormaFarmacéutica)\n\nClave | Descripción\n:-----:| -----------\n01 | Tableta\n02 | Cápsulas\n03 | Comprimidos\n04 | Grageas\n05 | Suspensión\n06 | Solución\n07 | Emulsión\n08 | Jarabe\n09 | Inyectable\n10 | Crema\n11 | Ungüento\n12 | Aerosol\n13 | Gas medicinal\n14 | Gel\n15 | Implante\n16 | Óvulo\n17 | Parche\n18 | Pasta\n19 | Polvo\n20 | Supositorio\n\n### Condiciones Especiales (c_CondicionesEspeciales)\n\nClave | Descripción\n:-----:| -----------\n01 | Congelados\n02 | Refrigerados\n03 | Temperatura controlada\n04 | Temperatura ambiente\n\n### Tipo de Materia (c_TipoMateria)\n\nClave | Descripción\n:-----:| -----------\n01 | Materia prima\n02 | Materia procesada\n03 | Materia terminada (producto terminado)\n04 | Materia para la industria manufacturera\n05 | Otra\n\n### Tipo de Documento de Aduana (c_TipoDocumentoAduanero)\n\nClave | Descripción\n:-----:| -----------\n01 | Pedimento\n02 | Autorización de importación temporal\n03 | Autorización de importación temporal de embarcaciones\n04 | Autorización de importación temporal de mercancías para mantenimiento/reparación\n05 | Autorización para importación de vehículos especializados\n06 | Aviso de exportación temporal\n07 | Aviso traslado (IMMEX/RFE/Operador Económico Autorizado)\n08 | Aviso traslado autopartes franja fronteriza\n09 | Constancia importación/retorno/transferencia contenedores\n10 | Constancia de transferencia de mercancías\n11 | Autorización de donación de mercancías (extranjero)\n12 | Cuaderno ATA\n13 | Listas de intercambio\n14 | Permiso de Importación Temporal\n15 | Permiso importación temporal casa rodante\n16 | Permiso importación temporal embarcaciones\n17 | Solicitud donación (emergencias/desastres)\n18 | Aviso de consolidado\n19 | Aviso de cruce de mercancias\n20 | Otro\n\n### Tipo de Transporte (c_ParteTransporte)\n\nClave | Descripción\n:-----:| -----------\nPT01 | Camión unitario\nPT02 | Camión\nPT03 | Tractocamión\nPT04 | Remolque\nPT05 | Semirremolque\nPT06 | Vehículo ligero de carga\nPT07 | Grúa\nPT08 | Aeronave\nPT09 | Barco o buque\nPT10 | Carro o vagón\nPT11 | Contenedor\nPT12 | Locomotora\n\n### Figuras de Transporte (c_FiguraTransporte)\n\nClave | Descripción\n:-----:| -----------\n01 | Operador\n02 | Propietario\n03 | Arrendador\n04 | Notificado\n05 | Integrante de Coordinados\n\n### Registro ISTMO (c_RegistroISTMO)\n\nClave | Descripción\n:-----:| -----------\n01 | Coatzacoalcos I\n02 | Coatzacoalcos II\n03 | Texistepec\n04 | San Juan Evangelista\n05 | Salina Cruz\n06 | San Blas Atempa\n\n### Clave de Tipo de Carga (c_ClaveTipoCarga)\n\nClave | Descripción\n:-----:| -----------\nCGS | Carga General Suelta\nCGC | Carga General Contenerizada\nGMN | Gran Mineral\nGAG | Granel Agrícola\nOFL | Otros Fluidos\nPYD | Petróleo y Derivados\n\n### Configuración Marítima (c_ConfiguracionMaritima)\n\nClave | Descripción\n:-----:| -----------\nB01 | Abastecedor\nB02 | Barcaza\nB03 | Granelero\nB04 | Porta Contenedor\nB05 | Draga\nB06 | Pesquero\nB07 | Carga General\nB08 | Quimiqueros\nB09 | Transbordadores\nB10 | Carga RoRo\nB11 | Investigación\nB12 | Tanquero\nB13 | Gasero\nB14 | Remolcador\nB15 | Extraordinaria especialización\n\n### Tipo de Tráfico Ferroviario (c_TraficoFerroviario)\n\nClave | Descripción\n:-----:| -----------\nTT01 | Tráfico local\nTT02 | Tráfico interlineal remitido\nTT03 | Tráfico interlineal recibido\nTT04 | Tráfico interlineal en tránsito\n\n### Tipo de Contenedor (c_TipoContenedor)\n\nClave | Descripción\n:-----:| -----------\nTC01 | Contenedor de 6.1 Mts de longitud\nTC02 | Contenedor de 12.2 Mts de longitud\nTC03 | Contenedor de 13.7 Mts de longitud\nTC04 | Contenedor de 14.6 Mts de longitud\nTC05 | Contenedor de 16.1 Mts de longitud\n\n### Tipo de Contenedor Marítimo (c_TipoContenedorMaritimo)\n\nClave | Descripción\n:-----:| -----------\nCM001 | Contenedores refrigerados de 20FT\nCM002 | Contenedores refrigerados de 40FT\nCM003 | Contenedores estándar de 8FT\nCM004 | Contenedores estándar de 10FT\nCM005 | Contenedores estándar de 20FT\nCM006 | Contenedores estándar de 40FT\nCM007 | Contenedores Open Side\nCM008 | Contenedor Isotanque\nCM009 | Contenedor flat racks\nCM010 | Buque tanque\nCM011 | Ferri\nCM012 | Ferri – Turístico y vacíos\n\n### Tipo de Carro Ferroviario (c_TipoCarroFerroviario)\n\nClave | Descripción\n:-----:| -----------\nTC01 | Furgón\nTC02 | Góndola\nTC03 | Tolva\nTC04 | Tanque\nTC05 | Plataforma Intermodal\nTC06 | Plataforma de Uso General\nTC07 | Plataforma Automotriz\nTC08 | Locomotora\nTC09 | Carro Especial\nTC10 | Pasajeros\nTC11 | Mantenimiento de Vía\n\n### Tipo de Servicio Ferroviario (c_TipoServicioFerroviario)\n\nClave | Descripción\n:-----:| -----------\nTS01 | Carros Ferroviarios\nTS02 | Carros Ferroviarios intermodal\nTS03 | Tren unitario de carros ferroviarios\nTS04 | Tren unitario Intermodal\n"
    },
    {
      "name": "comercio_exterior_keys",
      "x-displayName": "Catálogos Comercio Exterior",
      "description": "Catálogos específicos del complemento Comercio Exterior 2.0. Útiles para validar y construir correctamente los valores del complemento.\n\nCada tabla incluye: Clave | Descripción (Español oficial)\n\n### Motivo de traslado (c_MotivoTraslado)\n\nClave | Descripción\n:-----:| -----------\n01 | Envío de mercancías facturadas con anterioridad\n02 | Reubicación de mercancías propias\n03 | Envío de mercancías objeto de contrato de consignación\n04 | Envío de mercancías para posterior enajenación\n05 | Envío de mercancías propiedad de terceros\n99 | Otros\n\n### Incoterm (c_INCOTERM)\n\nClave | Descripción\n:-----:| -----------\nCFR | Coste y flete (puerto de destino convenido).\nCIF | Coste, seguro y flete (puerto de destino convenido).\nCPT | Transporte pagado hasta (el lugar de destino convenido).\nCIP | Transporte y seguro pagados hasta (lugar de destino convenido).\nDAP | Entregada en lugar.\nDDP | Entregada derechos pagados (lugar de destino convenido).\nDPU | Entregada y descargada en lugar acordado.\nEXW | En fabrica (lugar convenido).\nFCA | Franco transportista (lugar designado).\nFAS | Franco al costado del buque (puerto de carga convenido).\nFOB | Franco a bordo (puerto de carga convenido).\n\n### Unidad de Aduana (c_UnidadAduana)\n\nClave | Descripción\n:-----:| -----------\n01 | KILO\n02 | GRAMO\n03 | METRO LINEAL\n04 | METRO CUADRADO\n05 | METRO CUBICO\n06 | PIEZA\n07 | CABEZA\n08 | LITRO\n09 | PAR\n10 | KILOWATT\n11 | MILLAR\n12 | JUEGO\n13 | KILOWATT/HORA\n14 | TONELADA\n15 | BARRIL\n16 | GRAMO NETO\n17 | DECENAS\n18 | CIENTOS\n19 | DOCENAS\n20 | CAJA\n21 | BOTELLA\n22 | CARAT\n99 | SERVICIO\n"
    },
    {
      "name": "customer_model",
      "x-displayName": "Objeto Customer",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Customer\" />\n"
    },
    {
      "name": "product_model",
      "x-displayName": "Objeto Product",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Product\" />\n"
    },
    {
      "name": "invoice_model",
      "x-displayName": "Objeto Invoice",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Invoice\" />\n"
    },
    {
      "name": "receipt_model",
      "x-displayName": "Objeto Receipt",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Receipt\" />\n"
    },
    {
      "name": "retention_model",
      "x-displayName": "Objeto Retention",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Retention\" />\n"
    },
    {
      "name": "organization_model",
      "x-displayName": "Objeto Organización",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Organization\" />\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Recursos",
      "tags": [
        "customer",
        "product",
        "invoice",
        "receipt",
        "retention",
        "organization",
        "organization_access"
      ]
    },
    {
      "name": "Herramientas",
      "tags": [
        "tools",
        "sat_keys",
        "carta_porte_keys",
        "comercio_exterior_keys"
      ]
    },
    {
      "name": "Webhooks",
      "tags": [
        "events",
        "webhooks"
      ]
    },
    {
      "name": "Modelos",
      "tags": [
        "customer_model",
        "product_model",
        "invoice_model",
        "receipt_model",
        "retention_model",
        "organization_model"
      ]
    }
  ],
  "paths": {
    "/catalogs/cartaporte/3.1/air-transport-codes": {
      "get": {
        "operationId": "searchCartaPorteAirTransportCodes",
        "tags": [
          "carta_porte_keys"
        ],
        "summary": "Buscar códigos de transporte aéreo",
        "description": "Devuelve entradas del catálogo de aerolíneas que coinciden con la consulta. Usado para el complemento Carta Porte.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key`, `airline_name` o `icao_designator`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchKeyDescriptionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/catalogs/comercioexterior/2.0/tariff-fractions": {
      "get": {
        "operationId": "searchComercioExteriorTariffFractions",
        "tags": [
          "comercio_exterior_keys"
        ],
        "summary": "Buscar fracciones arancelarias",
        "description": "Devuelve fracciones arancelarias que coinciden con la consulta.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key` o `description`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchKeyDescriptionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/catalogs/cartaporte/3.1/transport-configs": {
      "get": {
        "operationId": "searchCartaPorteTransportConfigs",
        "tags": [
          "carta_porte_keys"
        ],
        "summary": "Buscar configuraciones de autotransporte",
        "description": "Devuelve configuraciones de transporte (p. ej., camión/semirremolque).",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key` o `description`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchKeyDescriptionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/catalogs/cartaporte/3.1/rights-of-passage": {
      "get": {
        "operationId": "searchCartaPorteRightsOfPassage",
        "tags": [
          "carta_porte_keys"
        ],
        "summary": "Buscar derechos de paso",
        "description": "Devuelve derechos de paso ferroviarios que coinciden con la consulta.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key`, `right_of_passage` o `concessionaire`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchKeyDescriptionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/catalogs/cartaporte/3.1/customs-documents": {
      "get": {
        "operationId": "searchCartaPorteCustomsDocuments",
        "tags": [
          "carta_porte_keys"
        ],
        "summary": "Buscar documentos aduaneros",
        "description": "Devuelve tipos de documentos aduaneros.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key` o `description`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchKeyDescriptionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/catalogs/cartaporte/3.1/packaging-types": {
      "get": {
        "operationId": "searchCartaPortePackagingTypes",
        "tags": [
          "carta_porte_keys"
        ],
        "summary": "Buscar tipos de empaque",
        "description": "Devuelve tipos de empaque para mercancías.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key` o `description`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchKeyDescriptionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/catalogs/cartaporte/3.1/trailer-types": {
      "get": {
        "operationId": "searchCartaPorteTrailerTypes",
        "tags": [
          "carta_porte_keys"
        ],
        "summary": "Buscar tipos de remolque",
        "description": "Devuelve tipos de remolque/semirremolque.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key` o `description`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchKeyDescriptionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/catalogs/cartaporte/3.1/hazardous-materials": {
      "get": {
        "operationId": "searchCartaPorteHazardousMaterials",
        "tags": [
          "carta_porte_keys"
        ],
        "summary": "Buscar materiales peligrosos",
        "description": "Devuelve entradas del catálogo de materiales peligrosos.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key`, `description` o `class_division`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchKeyDescriptionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/catalogs/cartaporte/3.1/naval-authorizations": {
      "get": {
        "operationId": "searchCartaPorteNavalAuthorizations",
        "tags": [
          "carta_porte_keys"
        ],
        "summary": "Buscar autorizaciones navales",
        "description": "Devuelve códigos de autorización naval (solo `key`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/catalogs/cartaporte/3.1/port-stations": {
      "get": {
        "operationId": "searchCartaPortePortStations",
        "tags": [
          "carta_porte_keys"
        ],
        "summary": "Buscar estaciones/puertos",
        "description": "Devuelve entradas de estaciones aéreas/marítimas/terrestres.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key`, `description` o `iata_designator`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchKeyDescriptionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/catalogs/cartaporte/3.1/marine-containers": {
      "get": {
        "operationId": "searchCartaPorteMarineContainers",
        "tags": [
          "carta_porte_keys"
        ],
        "summary": "Buscar contenedores marítimos",
        "description": "Devuelve tipos de contenedores marítimos.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Prefijo para buscar en `key` o `description`."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "responses": {
          "200": {
            "description": "Búsqueda exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchKeyDescriptionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers": {
      "post": {
        "operationId": "createCustomer",
        "tags": [
          "customer"
        ],
        "summary": "Crear cliente",
        "description": "Registra un nuevo cliente en Facturapi.\n\nEsta llamada valida que los datos fiscales coincidan con\nlos registros del SAT para ese RFC, de lo contrario, la llamada\ndevolverá un error indicando el problema.\n\nUna vez creado el cliente y obtenido un objeto de respuesta,\nte recomendamos guardar el ID en tu base de datos junto a la información\nde tu cliente. Posteriormente, puedes llamar al endpoint de Crear Factura\npasando el ID del cliente en lugar de repetir la información.\n\nPor último, ten en cuenta que los clientes que crees en ambiente _Test_ **no se\ncomparten** con el ambiente _Live_.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/CustomerCreate"
        },
        "parameters": [
          {
            "in": "query",
            "name": "createEditLink",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Si pasas el valor `true`, se generará un enlace para que el cliente pueda editar\nsu información fiscal. Este enlace estará disponible en el campo \"edit_link\", será\nválido por 7 días y sólo se podrá usar una vez.\nAdemás, pasar el valor `true` desactivará la validación de información fiscal con el SAT,\npermitiendo crear clientes con información incompleta.\n"
          }
        ],
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto `Customer` con la misma información ya existía",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "201": {
            "description": "Nuevo objeto `Customer` creado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "get": {
        "operationId": "listCustomers",
        "tags": [
          "customer"
        ],
        "summary": "Listar clientes",
        "description": "Regresa una lista paginada de todos los clientes de una organización o realiza una búsqueda de acuerdo a parámetros",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "description": "Consulta. Texto a buscar en `legal_name` (nombre fiscal) o en `tax_id` (RFC)."
          },
          {
            "$ref": "#/components/parameters/SearchDate"
          },
          {
            "$ref": "#/components/parameters/SearchPage"
          },
          {
            "$ref": "#/components/parameters/SearchLimit"
          }
        ],
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado de la búsqueda",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "operationId": "getCustomer",
        "tags": [
          "customer"
        ],
        "summary": "Obtener cliente por ID",
        "description": "Regresa el objeto 'Customer' relacionado al `id` especificado.",
        "parameters": [
          {
            "in": "path",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID del objeto a obtener"
          }
        ],
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Objeto `Customer`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "put": {
        "operationId": "editCustomer",
        "tags": [
          "customer"
        ],
        "summary": "Editar cliente",
        "description": "Actualiza la información de un cliente existente, asignando los valores de los parámetros enviados. Los parámetros que no se envíen en la petición no se modificarán.",
        "parameters": [
          {
            "in": "path",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID del objeto a editar"
          },
          {
            "in": "query",
            "name": "createEditLink",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Si pasas el valor `true`, se generará un enlace para que el cliente pueda editar\nsu información fiscal. Este enlace estará disponible en el campo \"edit_link\", será\nválido por 7 días y sólo se podrá usar una vez. Pasar el valor `true` al editar\n**no** desactivará la validación de información fiscal con el SAT.\n"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CustomerEdit"
        },
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Objeto `Customer` editado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "tags": [
          "customer"
        ],
        "summary": "Eliminar cliente",
        "description": "Elimina el cliente de tu organización. Las facturas asociadas al cliente **no** se eliminarán.",
        "parameters": [
          {
            "in": "path",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID del objeto a eliminar"
          }
        ],
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Objeto `Customer` eliminado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customer_id}/email-edit-link": {
      "post": {
        "operationId": "sendEditLinkByEmail",
        "tags": [
          "customer"
        ],
        "summary": "Enviar enlace de edición por correo electrónico",
        "description": "Envía un enlace para que el cliente pueda editar su información fiscal.\n\nEste enlace estará disponible en el campo `edit_link`, será válido por 7 días y sólo se podrá usar una vez.\n",
        "parameters": [
          {
            "in": "path",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID del objeto `Customer` a editar"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Correo electrónico del cliente. Si no se proporciona, se usará el correo electrónico del cliente."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Enlace de edición enviado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indica si el enlace se envió correctamente"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customer_id}/tax-info-validation": {
      "get": {
        "operationId": "validateCustomerTaxInfo",
        "tags": [
          "customer"
        ],
        "summary": "Validar información fiscal",
        "description": "Valida que la información fiscal del cliente coincida con los registros del SAT.\n\nSu función principal es validar que los datos del cliente registrado siguen cumpliendo la validación del SAT.\n\n:::tip\n  Las operaciones de crear cliente, editar cliente y crear factura ya realizan una\n  validación de la información del cliente, por lo que **no** es necesario llamar a este endpoint\n  antes de realizar dichas operaciones.\n:::\n",
        "parameters": [
          {
            "in": "path",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID del objeto `Customer` a validar"
          }
        ],
        "security": [
          {
            "SecretLiveKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado de la validación",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "is_valid",
                    "errors"
                  ],
                  "properties": {
                    "is_valid": {
                      "type": "boolean",
                      "description": "Indica si la información fiscal del cliente coincide con los registros del SAT"
                    },
                    "errors": {
                      "type": "array",
                      "description": "Detalles de validación fiscal. Es un array vacío cuando `is_valid` es `true`.",
                      "items": {
                        "type": "object",
                        "required": [
                          "source",
                          "code",
                          "message"
                        ],
                        "properties": {
                          "source": {
                            "type": "string",
                            "enum": [
                              "facturapi"
                            ],
                            "description": "Indica que Facturapi generó el detalle de validación."
                          },
                          "code": {
                            "type": "string",
                            "description": "Código estable del detalle de validación."
                          },
                          "path": {
                            "type": "string",
                            "description": "Ruta del campo cuya información fiscal no es válida."
                          },
                          "message": {
                            "type": "string",
                            "description": "Mensaje descriptivo del detalle de validación."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/products": {
      "post": {
        "operationId": "createProduct",
        "tags": [
          "product"
        ],
        "summary": "Crear producto",
        "description": "Registra un nuevo producto o servicio en tu catálogo de Facturapi.\n\nPuedes usar el ID del producto para crear facturas sin tener que enviar todos los datos del producto cada vez.\n\nTe en cuenta que los productos que crees en ambiente _Test_ **no se\ncomparten** con el ambiente _Live_.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ProductCreate"
        },
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Nuevo objeto `Product` creado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "get": {
        "operationId": "listProducts",
        "tags": [
          "product"
        ],
        "summary": "Listar productos",
        "description": "Regresa una lista paginada de todos los productos de una organización o realiza una búsqueda de acuerdo a parámetros",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "description": "Consulta. Texto a buscar en la descripción del producto o SKU."
          },
          {
            "in": "query",
            "name": "sku",
            "schema": {
              "type": "string"
            },
            "description": "SKU del producto."
          },
          {
            "$ref": "#/components/parameters/SearchPage"
          },
          {
            "$ref": "#/components/parameters/SearchLimit"
          }
        ],
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado de la búsqueda",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/products/{product_id}": {
      "get": {
        "operationId": "getProduct",
        "tags": [
          "product"
        ],
        "summary": "Obtener producto por ID",
        "description": "Regresa el objeto `Product` relacionado al `id` especificado.",
        "parameters": [
          {
            "in": "path",
            "name": "product_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID del objeto a obtener"
          }
        ],
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Objeto `Product`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "put": {
        "operationId": "editProduct",
        "tags": [
          "product"
        ],
        "summary": "Editar producto",
        "description": "Actualiza la información de un producto existente, asignando los valores de los parámetros enviados. Los parámetros que no se envíen en la petición no se modificarán.",
        "parameters": [
          {
            "in": "path",
            "name": "product_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID del objeto a editar"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ProductEdit"
        },
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Objeto `Product` editado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "tags": [
          "product"
        ],
        "summary": "Eliminar producto",
        "description": "Elimina el producto de tu organización. Las facturas asociadas al producto **no** se eliminarán.",
        "parameters": [
          {
            "in": "path",
            "name": "product_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID del objeto a eliminar"
          }
        ],
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Objeto `Product` eliminado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/invoices": {
      "post": {
        "operationId": "createInvoice",
        "tags": [
          "invoice"
        ],
        "summary": "Crear factura (CFDI 4.0)",
        "description": "Crea una nueva Factura. Si la factura es creada en ambiente Live, ésta será **timbrada y enviada al SAT**.\n\nRevisa e infórmate sobre el [rescate de CFDI en intermitencias (Status 202)](/docs/guides/invoices/intermitencias).\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/InvoiceCreate"
        },
        "parameters": [
          {
            "in": "query",
            "name": "async",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Útil para facturas de gran tamaño. Si se envía `false` o no se envía, la llamada esperará a que el SAT responda timbrando la factura.\nSi se envía `true`, la llamada regresará inmediatamente con el objeto `invoice` en status `pending`, y podrá consultarse su cambio de status\na `valid` en un momento posterior.\n"
          }
        ],
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Nuevo objeto `Invoice` creado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "discriminator": {
                    "propertyName": "status",
                    "mapping": {
                      "pending": "#/components/schemas/Invoice",
                      "draft": "#/components/schemas/InvoiceDraft"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Solicitud aceptada; Facturapi intentará recuperar el CFDI hasta cinco veces, una cada 10 minutos",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Invoice"
                    },
                    {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "get": {
        "operationId": "listInvoices",
        "tags": [
          "invoice"
        ],
        "summary": "Listar facturas",
        "description": "Regresa una lista paginada de todas las facturas de una organización o realiza una búsqueda de acuerdo a parámetros.\n\nPor defecto, los resultados se ordenan por fecha de emisión, usando el campo `date` de forma descendente.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchPagination"
          },
          {
            "$ref": "#/components/parameters/SearchAfter"
          },
          {
            "$ref": "#/components/parameters/SearchBefore"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "description": "Consulta. Texto a buscar en la factura.\n\nLa búsqueda se realizará por coincidencias **parciales** en los campos:\n\n- `items[].product.description`\n- `customer.legal_name`\n\nY por coincidencias **exactas** en los campos:\n\n- `id`\n- `uuid`\n- `customer.tax_id`\n- `folio_number`\n- `total`\n"
          },
          {
            "in": "query",
            "name": "customer",
            "schema": {
              "type": "string"
            },
            "description": "Identificador del cliente. Útil para obtener las facturas emitidas a un sólo cliente."
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "I",
                "E",
                "P",
                "N",
                "T"
              ]
            },
            "description": "Tipo de factura. Búsqueda por tipo de factura con las claves exactas."
          },
          {
            "in": "query",
            "name": "payment_method",
            "schema": {
              "type": "string",
              "enum": [
                "PUE",
                "PPD"
              ]
            },
            "description": "Método de pago. Búsqueda exacta por método de pago."
          },
          {
            "in": "query",
            "name": "folio_number",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Filtrar por folio de la factura. Coincidencia exacta."
          },
          {
            "in": "query",
            "name": "series",
            "schema": {
              "type": "string",
              "maxLength": 25
            },
            "description": "Filtrar por serie de la factura. Coincidencia exacta."
          },
          {
            "in": "query",
            "name": "external_id",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Filtrar por identificador externo. Coincidencia exacta."
          },
          {
            "in": "query",
            "name": "issuer_type",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/IssuingType"
                }
              ],
              "default": "issuing"
            },
            "description": "Filtrar por tipo de emisión."
          },
          {
            "in": "query",
            "name": "cancellation_status",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CancellationStatus"
              }
            },
            "description": "Filtrar por uno o más estados de cancelación."
          },
          {
            "in": "query",
            "name": "uuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filtrar por el UUID del CFDI. Coincidencia exacta."
          },
          {
            "in": "query",
            "name": "payment_status",
            "schema": {
              "type": "string",
              "enum": [
                "paid",
                "unpaid"
              ]
            },
            "description": "Filtrar por estado de pago. Coincidencia exacta."
          },
          {
            "in": "query",
            "name": "date",
            "style": "deepObject",
            "schema": {
              "$ref": "#/components/schemas/DateRange"
            },
            "description": "Objeto con rango de fechas solicitado. El rango filtra el campo `date` de la factura."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Página de resultados a regresar, empezando desde la página 1. El máximo no es fijo; junto con `limit` debe caber dentro del tope de 3,000 resultados (con el `limit` por defecto de 100, la página máxima es 30)."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 100,
              "maximum": 100
            },
            "description": "Número del 1 al 100 que representa la cantidad máxima de resultados a regresar con motivos de paginación."
          }
        ],
        "security": [
          {
            "SecretLiveKey": []
          },
          {
            "SecretTestKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado de la búsqueda",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/invoices/zip-requests": {
      "post": {
        "operationId": "createInvoiceZipRequest",
        "tags": [
          "invoice"
        ],
        "summary": "Crear o recuperar solicitud de ZIP mensual",
        "description": "Crea una solicitud para generar un archivo ZIP con las facturas de un mes, o recupera la solicitud existente con los mismos filtros.\n\nLa operación es idempotente. Los tipos de factura se normalizan, por lo que `[\"I\", \"E\"]` y `[\"E\", \"I\"]` corresponden a la misma solicitud. Las llamadas concurrentes idénticas también regresan la misma solicitud.\n\nSi una solicitud anterior tiene status `failed`, volver a llamar este método reintentará su procesamiento. Antes del nuevo intento se limpian el error, la tarea anterior, el progreso procesado y la lista de documentos fallidos. Si no es posible programar la generación, la solicitud se guarda con status `failed` y la API regresa un error `5xx`.\n\nEste método requiere una llave de API de organización en ambiente Live, una suscripción activa y permiso para leer facturas. Las llaves de ambiente Test regresan HTTP 402.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceZipRequestCreateInput"
              }
            }
          }
        },
        "security": [
          {
            "SecretLiveKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Solicitud de ZIP creada o recuperada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceZipRequest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "$ref": "#/components/responses/InvoiceZipRequestAccessRequired"
          },
          "404": {
            "$ref": "#/components/responses/InvoiceZipRequestNoInvoices"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "get": {
        "operationId": "listInvoiceZipRequests",
        "tags": [
          "invoice"
        ],
        "summary": "Listar solicitudes de ZIP mensual",
        "description": "Regresa una lista paginada de solicitudes de ZIP. `year` y `month` deben enviarse juntos. `invoice_types` filtra por un tipo o por un arreglo normalizado exacto.\n\nEste método requiere una llave de API de organización en ambiente Live, una suscripción activa y permiso para leer facturas.\n",
        "parameters": [
          {
            "in": "query",
            "name": "year",
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 9999
            },
            "description": "Año a filtrar. Debe enviarse junto con `month`."
          },
          {
            "in": "query",
            "name": "month",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            },
            "description": "Mes a filtrar. Debe enviarse junto con `year`."
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/InvoiceZipRequestStatus"
            },
            "description": "Status de la solicitud."
          },
          {
            "in": "query",
            "name": "issuer_type",
            "schema": {
              "$ref": "#/components/schemas/IssuingType"
            },
            "description": "Filtra facturas emitidas o recibidas."
          },
          {
            "in": "query",
            "name": "invoice_types",
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "$ref": "#/components/schemas/InvoiceZipRequestInvoiceType"
              }
            },
[...]
